<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" type="text/css" href="../css/basic.css">
    <link rel="stylesheet" type="text/css" href="../css/bootstrap.css">
	<title>Profile Page</title>
</head>
<body>
<div class="one">

<ul class="nav nav-pills">
	
<li class="nav-item">
<a class="nav-link active" href="../main.html">Home</a>
</li>

<li class="nav-item">
<a class="nav-link" href="../html/login.html">Login</a>
</li>

<li class="nav-item">
<a class="nav-link" href="../html/signup.html">Signup</a>
</li>

<li class="nav-item">
<a class="nav-link" href="../html/toprecipes.html">Top Recipes</a>
</li>

<li class="nav-item">
	<a class="nav-link" href="../html/favoriterecipes.html"> My Favorite Recipes</a>
</li>

<li class="nav-item">
	<a class="nav-link" href="../html/recipedetails.html">Recipe Details</a>
</li>
<li class="nav-item">
	<a class="nav-link" href="../html/myprofile.html"> My Profile</a>
</li>
<li class="nav-item">
	<a class="nav-link" href="../html/myrecipes.html">My Recipes</a>
</li>

</ul>

</div>
<hr>
<div class="more-recipe">
	<p> Welcome to More-Recipes <br>
		More-Recipes provides a platform for users to share the awesome and exciting  recipe ideas they have invented or learnt.
	</p>
</div>
<hr>
<div class="top">
    <h2>My Profile</h2>
    
</div>



<table class="table table-hover table-responsive">
<div class="avatar"><img src="../images/avatar1.jpg"></div><br>
<thead>
<tr>
<th>Categories</th>
<th>Details</th>
</tr>
</thead>

<tr>
<tbody>

<tr>
<td>Name</td>
<td>Chijindu Iwuchukwu</td>
</tr>

<tr>
<td>Date of Birth</td>
<td>26/08/1996</td>
</tr>

<tr>
<td>Date of Birth</td>
<td>26/08</td>
</tr>

<tr>
<td>Username</td>
<td>JendyJasper</td>
</tr>

<tr>
<td>Email Address</td>
<td>Jendy36@gmail.com</td>
</tr>

<tr>
<td>Gender</td>
<td>Male</td>
</tr>

<tr>
<td>Phone Number</td>
<td>+2348085680969</td>
</tr>

<tr>
<td>Address</td>
<td>No7 Amaram street, Owerri, Imo state</td>
</tr>

<tr>
<td>Profile Picture</td>
<td><label>Upload profile picture: </label><input type="file" name="file"></td>
</tr>

</tbody>
</table>

</body>
</html>